body{
    width: 100%;
    height: 100%;
}
html{
    height: 100%;
    color: #fff;
    font-size: 62.5%;
    font-family: "Hiragino Sans GB", "Microsoft Yahei", Arial, sans-serif;
}
/*@media (min-width: 481px) {
    html{
        font-size:94%
    }
}
@media (min-width: 561px) {
    html{
        font-size:109%
    }
}@media (min-width: 641px) {
    html{
        font-size:125%
    }
}*/
.musicbox{
    margin: 0 auto;
    width: 2.5rem;
    height: 2.5rem;
    background: url(../img/music-1.png) center no-repeat;
    background-size: 70%;
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.musicbox{
  -webkit-animation:run1 1.5s linear infinite ;
  -moz-animation:run1 1.5s linear infinite ;
  -o-animation:run1 1.5s linear infinite ;
  animation:run1 1.5s linear infinite ;
}
@-webkit-keyframes  run1 {


    0%{
      -webkit-transform:rotate(0deg) ;
      -moz-transform:rotate(0deg) ;
      -ms-transform:rotate(0deg) ;
      -o-transform:rotate(0deg) ;
      transform: rotate(0deg);
    }
    100%{
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -ms-transform:rotate(360deg);
      -o-transform:rotate(360deg);
      transform: rotate(360deg);
    }
}
.next{
  -webkit-animation:run2 1.5s linear infinite;
  -moz-animation:run2 1.5s linear infinite;
  -o-animation:run2 1.5s linear infinite;
  animation:run2 1.5s linear infinite;
}
@-webkit-keyframes run2 {
    0%{
      -webkit-transform:translateY(0px) ;
      -moz-transform:translateY(0px) ;
      -ms-transform:translateY(0px) ;
      -o-transform: translateY(0px);
      transform:translateY(0px) ;
    }

    50%{
      -webkit-transform:translateY(-12px) ;
      -moz-transform:translateY(-12px) ;
      -ms-transform:translateY(-12px) ;
      -o-transform:translateY(-12px) ;
      transform: translateY(-12px);
    }
    100%{
      -webkit-transform:translateY(0px) ;
      -moz-transform: translateY(0px);
      -ms-transform:translateY(0px) ;
      -o-transform:translateY(0px) ;
      transform:translateY(0px) ;
    }
}
.tit{
    margin: 0 auto;
    width: 60%;
    height: 5.5rem;
    line-height: 4.8rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #1e8fbb;
    background: url("../img/tit.png") no-repeat center;
    background-size: contain;
    margin-top: 6rem;
}
.active .tit{
    -webkit-animation:fadeIn 1s linear;
    -moz-animation:fadeIn 1s linear;
    -o-animation:fadeIn 1s linear;
    animation:fadeIn 1s linear;
}
.slide1 h2{
    width:100%;
    font-size: 1.5rem;
    color: #bcd7e5;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10%;
}
.active .head-tit{
    -webkit-animation:fadeIn 1s linear;
    -moz-animation:fadeIn 1s linear;
    -o-animation:fadeIn 1s linear;
    animation:fadeIn 1s linear;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.music{
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin:0 auto;
    background: url("../img/music-1.png") no-repeat center;
    background-size: contain;
}
.man {
    width: 90%;
    height: 80%;
    background: url("../img/man.png") no-repeat center;
    background-size: 90%;
    margin: 0 auto;
}
.active .man{
  -webkit-animation:rollIn 0.75s linear;
  -moz-animation:rollIn 0.75s linear;
  -o-animation:rollIn 0.75s linear;
  animation:rollIn 0.75s linear;
}
@-webkit-keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.next{
    display: block;
    width: 10%;
    height: 1.5rem;
    margin:0rem auto;
    background:url("../img/next.png") no-repeat;
    background-size: contain;
    /*margin-top: 8px;*/
    margin-bottom: 8px;
    position: absolute;
    bottom: 5px;
    left:46%;
}
.slide2{
    background: #f6bb43;
    width: 100%;
    height: 100%;

}
.music1{
    display: block;
    width: 12%;
    height: 10rem;
    border-radius: 50%;
    background: url("../img/muc-ico.png") no-repeat center;
    float: right;
    margin-right: 5%;
    margin-top:5rem;
}
.self{
    height:100%;
}
.music-mini{
    width: 5%;
    background-image: url("../img/music.png");
    background-size: contain;
}
h1{
    text-align: center;
    font-size: 25px;
    margin:0;
    margin-top: 20px;
}
.self p{
    font-size: 16px;
    text-align: left;
    padding-left: 12%;
    margin-bottom: 4px;
    margin-top: 0;
}
.pto1{
    width: 100%;
    height: 80%;
    background: url("../img/man1.png") no-repeat center;
    background-size: contain;
    margin-top: 1rem;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease ;
    -ms-transition: all 1s ease ;
    -o-transition: all 1s ease ;
    transition: all 1s ease ;
    -webkit-transform: translate(-100rem) scale(-1);
    -moz-transform: translate(-100rem) scale(-1);
    -ms-transform: translate(-100rem) scale(-1);
    -o-transform: translate(-100rem) scale(-1);
    transform: translate(-100rem) scale(-1);
}
.active .pto1{
    -webkit-transform: translate(0rem) scale(1);
    -moz-transform: translate(0rem) scale(1);
    -ms-transform: translate(0rem) scale(1);
    -o-transform: translate(0rem) scale(1);
    transform: translate(0rem) scale(1);
}
.second p {
    opacity: 0;
}
.active .second p:nth-child(1){
    -webkit-animation: firsttext 1s linear 0.8s forwards;
}
.active .second p:nth-child(2){
    -webkit-animation: firsttext 1s linear 1.2s forwards;
}
.active .second p:nth-child(3){
    -webkit-animation: firsttext 1s linear 1.6s forwards;
}
.active .second p:nth-child(4){
    -webkit-animation: firsttext 1s linear 2s forwards;
}
.active .second p:nth-child(5){
    -webkit-animation: firsttext 1s linear 2.4s forwards;
}
.active .second p:nth-child(6){
    -webkit-animation: firsttext 1s linear 2.8s forwards;
}
.active .second p:nth-child(7){
    -webkit-animation: firsttext 1s linear 3.2s forwards;
}
@-webkit-keyframes firsttext{
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.pto2{
    width: 80%;
    height: 80%;
    background: url("../img/man2.png") no-repeat center;
    background-size: contain;
    margin-top: 1rem;
    margin: 0 auto;
    -webkit-transform: translate(100rem);
    -moz-transform: translate(100rem);
    -ms-transform: translate(100rem);
    -o-transform: translate(100rem);
    transform: translate(100rem);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.active .pto2{
    -webkit-transform: translate(0rem);
    -moz-transform: translate(0rem);
    -ms-transform: translate(0rem);
    -o-transform: translate(0rem);
    transform: translate(0rem);
}

.loading-box{
    width: 100%;
    padding-left: 10%;
    margin-top:3%;
}
.loading-box span{
    display: inline-block;
    width:25%;
    font-size: 16px;
    opacity: 0;
}
.active .loading-box span{
    -webkit-animation: third 1s linear 0.5s forwards;
}
@-webkit-keyframes third{
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.loading{
    display: inline-block;
    height: 0.5rem;
    border-radius: 6px;
    background: linear-gradient(to right, #0076ff, #ffc71f);
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease ;
    -o-transition: all 1.2s ease ;
    transition: all 1.2s ease ;
}
.loading1{
    width: 50%;
}
.active .loading1{
    -webkit-animation:longer 1.2s linear;
}

@-webkit-keyframes longer{
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width:50%;
        opacity: 1;
    }
}
.loading2{
     width: 42%;
 }
.active .loading2{
    -webkit-animation:longer2 1.2s linear;
}

@-webkit-keyframes longer2{
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width:42%;
        opacity: 01;
    }
}
.loading3{
     width: 35%;
 }
.active .loading3{
    -webkit-animation:longer3 1.2s linear;
}

@-webkit-keyframes longer3{
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width:35%;
        opacity: 1;
    }
}
.loading4{
     width: 30%;
 }
.active .loading4{
    -webkit-animation:longer4 1.2s linear;
}

@-webkit-keyframes longer4{
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width:30%;
        opacity: 1;
    }
}
.active .loading5{
    -webkit-animation:longer5 1.2s linear;
}
.loading5{
    width: 35%;
}
@-webkit-keyframes longer5{
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width:35%;
        opacity: 1;
    }
}
.loading6{
    width: 30%;
}
.active .loading6{
    -webkit-animation:longer6 1.2s linear;
}

@-webkit-keyframes longer6{
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width:30%;
        opacity: 1;
    }
}

.pto3{
    width: 80%;
    height: 80%;
    background: url("../img/man3.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
    margin-top: 1rem;
    -webkit-transform: translate(-100rem);
    -moz-transform: translate(-100rem);
    -ms-transform: translate(-100rem);
    -o-transform: translate(-100rem);
    transform: translate(-100rem);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.active .pto3{
    -webkit-transform: translate(0rem);
    -moz-transform: translate(0rem);
    -ms-transform: translate(0rem);
    -o-transform: translate(0rem);
    transform: translate(0rem);
}
.work-tit{
    width: 3.5rem;
    height: 3.5rem;
    background:url("../img/chendian.png") no-repeat center;
    border-radius: 50%;
    text-align: center;
    line-height: 3.5rem;
    margin:0 auto;
}
.active .work-tit{
    -webkit-animation: show 1.5s;
    animation: show 1.5s;
}
@-webkit-keyframes show {
    0% {
        -webkit-transform: rotate(0deg) scale(0);
        -moz-transform: rotate(0deg) scale(0);
        -ms-transform: rotate(0deg) scale(0);
        -o-transform: rotate(0deg) scale(0);
        transform: rotate(0deg) scale(0);
    }

    100% {
        -webkit-transform: rotate(360deg) scale(1);
        -moz-transform: rotate(360deg) scale(1);
        -ms-transform: rotate(360deg) scale(1);
        -o-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
    }
}
.line{
    width: 5px;
    height: 40%;
    background: url("../img/line.png") no-repeat center;
    background-size: 90%;
    position: absolute;
    bottom: 15px;
    left:49%;
}

.work-text{
    width: 80%;
    margin:0 auto;

}

.time1,.time3{
    margin-left: 50%;
}
.time2{
    margin-right: 50%;
}
.active .time1{
    -webkit-animation: show1 2s 0.5s;
    animation: show1 2s 0.5s;
}
.active .time2{
    -webkit-animation: show1 2s 1s;
    animation: show1 2s 1s;
}
.active .time3{
    -webkit-animation: show1 2s 1.5s;
    animation: show1 2s 1.5s;
}
@-webkit-keyframes show1 {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
.work-text p{
    margin-left: 10px;
    padding:0;
}
.pto4{
    width: 80%;
    height: 80%;
    background: url("../img/man4.png") no-repeat center;
    background-size: contain;
    padding-top: 1rem;
    margin:0 auto;
}

.pto4{
    -webkit-transform: translate(100rem);
    -moz-transform: translate(100rem);
    -ms-transform: translate(100rem);
    -o-transform: translate(100rem);
    transform: translate(100rem);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.active .pto4{
    -webkit-transform: translate(0rem);
    -moz-transform: translate(0rem);
    -ms-transform: translate(0rem);
    -o-transform: translate(0rem);
    transform: translate(0rem);
}
.project{
    width: 89%;
    margin:0 auto;
    background: rgba(50, 49, 42, 0.20);
    border-radius: 6px;
    padding: 8px;
    margin-top: 10px;
}
.active .project{
    -webkit-animation: flipInX 2s 0.5s;
    animation: flipInX 2s 0.5s;
}
@-webkit-keyframes flipInX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}
.project h2{
    font-size: 14px;
    font-weight:600;
}
.project p{
    padding-left:0px;
    font-size: 12px;
}
.pto5{
    width: 100%;
    height: 80%;
    background: url("../img/man5.png") no-repeat center;
    background-size: contain;
    margin-top: 1rem;
}
.active .pto5{
    -webkit-animation:slideInUp 1.5s;
    -o-animation:slideInUp 1.5s;
    animation:slideInUp 1.5s;
}
@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.ready{
    font-size: 30px;
    padding-top: 65px;
}
.active .ready{
    -webkit-animation:zoomIn 1s 1s;
    -o-animation:zoomIn 1s 1s;
    animation:zoomIn 1s 1s;
}
@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.you{
    font-size: 40px;
    font-weight: bold;
    margin:0;
}
.active .you{
    -webkit-animation:tada 1.2s 1.3s;
    -o-animation:tada 1.2s 1.3s;
    animation:tada 1.2s 1.3s;
}
@-webkit-keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.contract-box{
    width: 80%;
    margin:0 auto;
    padding-top: 30px;
}
.pto6{
    text-align: center;
    line-height: 5rem;
    width: 100%;
    height: 5rem;
    font-size: 14px;
    background: url("../img/jx1.png") no-repeat center;
    background-size: 90%;
    margin-top: 1rem;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.active .pto6{
    -webkit-animation:bounceIn 0.5s 1s;
    -o-animation:bounceIn 0.5s 1s;
    animation:bounceIn 0.5s 1s;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.pto7{
    line-height: 5rem;
    text-align: center;
    width: 100%;
    height: 5rem;
    font-size: 14px;
    background: url("../img/jx2.png") no-repeat center;
    background-size: 90%;
    margin-top: 1rem;
}
.pto8{
    line-height: 5rem;
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: 5rem;
    background: url("../img/jx3.png") no-repeat center;
    background-size: 90%;
    margin-top: 1rem;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.active .pto7{
    -webkit-animation:bounceIn 0.5s 1.5s;
    -o-animation:bounceIn 0.5s 1.5s;
    animation:bounceIn 0.5s 1.5s;
}
.active .pto8{
    -webkit-animation:bounceIn 0.5s 1.8s;
    -o-animation:bounceIn 0.5s 1.8s;
    animation:bounceIn 0.5s 1.8s;
}

@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


.erweima{
    width: 100%;
    height: 80%;
    background: url("../img/eweima.png") no-repeat left;
    background-size: 90%;
    margin-top: 1rem;
}
.active .erweima {
    -webkit-animation: slideleft 1s;
    animation: slideleft 1s;
}
@-webkit-keyframes slideleft {
    0% {
        transform: translate(-100%, 0) scale(0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}
.pto8 span{
    padding-left: 30px;
}







